.quest{
    background: gray;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    margin:10px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}