body{
    font-family: Arial, sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:1em;
}
.product-card {
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

.product-card p {
    margin: 0.5em 0;
}

.product-card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #45a049;
}
/* style search */
.sign-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #f9f9f9;
}

.sign-form img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.sign-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.sign-form input[type="email"],
.sign-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.sign-form label {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

.sign-form input[type="checkbox"] {
    margin-right: 10px;
}

.sign-form button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.sign-form button[type="button"] {
    background-color: #db4437;
}

.sign-form button:hover {
    background-color: #0056b3;
}

.sign-form button[type="button"]:hover {
    background-color: #c23321;
}
.sign-form .box {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.sign-form .box a {
    color: #007bff;
    text-decoration: none;
}

.sign-form .box a:hover {
    text-decoration: underline;
}
/* style nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}
nav a:first-child {
    font-size: 30px;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}

nav .search {
    display: flex;
    align-items: center;
}

nav .search input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

nav .search button {
    padding: 5px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

nav .search button:hover {
    background-color: #0056b3;
}
/* style footer */
footer {
    background-color: #333;
    color: white;
    padding: 16px;
    text-align: center;
}
